section{
    height:746px;
    width :1600px;
    border:solid 2px black;
    background-image: url(sprites/New\ Project.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.object{
    height: 50px;
    width:50px;
    background-color:black;
    border-radius: 50%;
    position: relative ;
    display: inline-block;
 
}